<section class="modal-container modal-toggle-hide fixed h-screen w-screen flex justify-center items-center top-0 left-0 z-50">

  <aside class="modal-close absolute top-0 left-0 w-full h-full z-0"></aside>

  <modal class="modal-content bg-white p-10 md:p-20 flex flex-col justify-center w-full md:w-9/12 z-10 h-full md:h-5/6">
    {# Close button #}
    <aside class="modal-close mb-4 cursor-pointer w-8 h-8"><img src="/assets/global/x_icon.svg" /></aside>
    
    <div>
      Modal
    </div>
    {# <div class="video-container w-full md:h-full md:relative flex items-center" style="min-height: 360px;">
      <iframe class="videoframe md:absolute md:top-0 md:left-0 w-full h-full" src="https://www.youtube.com/embed/{{ env('YOUTUBE_VIDEO_ID') }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div> #}
  </modal>

</section>