{% extends "_layouts/generic-blank-layout.twig" %}

{% block headLinks %}
    {{ parent() }}
{% endblock headLinks %}


{% block content %}
  {# TODO: Static - content #}
  <main class="flex min-h-screen">

    <aside class="w-1/2 custom-bg-color-navy text-white"></aside>
    <section class="w-1/2 flex flex-col">

      <div class="flex">
        <article class="w-3/5 custom-bg-color-light-gray py-16 px-10">
          <h2 class="text-3xl leading-tight">
            Intro copy goes here, lorem ipsum esterv dolor sit amet lor em ipsum dolor sit amet.
          </h2>
        </article>
        <article class="w-2/5 custom-bg-color-gray py-8 px-4 flex flex-col justify-between">
          <div>
            <h5 class="uppercase font-semibold text-sm">Give us a call</h5>
            <p class="text-sm py-2">Available at 9AM to 5pm on <br/> Monday through Friday</p>
          </div>
          <div class="flex justify-between items-center border-t pt-4 border-black">
            <p class="font-semibold text-sm">312.511.0505</p>
            <a href="#"><img src="/assets/global/arrow_black.svg" alt="Arrow Black" /></a>
          </div>
        </article>
      </div>

      <article class="flex p-10">
        <div class="">
          <p class="uppercase font-semibold text-right transform tracking-widest rotate-180" style="writing-mode: vertical-lr;">Contact Us</p>
        </div>
        <form class="mx-10" action="" method="POST">
          <fieldset class="flex flex-col">
            <div class="border-b border-gray-500 mb-6 flex flex-col">
              <label for="name" class="text-sm">Your Name</label>
              <input type="text" id="name" placeholder="John Doe" />
            </div>

            <div class="border-b border-gray-500 mb-6 flex flex-col">
              <label for="email" class="text-sm">Email Address</label>
              <input type="text" id="email" placeholder="example@email.com" />
            </div>
          </fieldset>

          <fieldset class="flex flex-col my-4">
            <legend class="text-sm"><strong>In which of our practice areas are you interested in learning more?</strong></legend>

            <div class="flex items-center my-4">
              <input type="checkbox" id="private-equity-solutions" class="transform scale-125" />
              {# NOTE: use text-indent: 20px each-line; when it becomes compatible. In meantime, wrap with wrapper element (div) #}
              <div class="ml-4">
                <label for="private-equity-solutions" class="text-sm">Private Equity Solutions (customer due diligence, portfolio value creation consulting, etc)</label>
              </div>
            </div>
            
            <div class="flex items-center my-4">
              <input type="checkbox" id="corporate-customer-insights-solutions" class="transform scale-125"/>
              <div class="ml-4">
                <label for="corporate-customer-insights-solutions" class="text-sm">Corporate Customer Insight Solutions (voice of the customer, Net Promoter Score, etc.)</label>
              </div>
            </div>
            
            <div class="flex items-center my-4">
              <input type="checkbox" id="80-20-management-consulting" class="transform scale-125"/>
              <div class="ml-4">
                <label for="80-20-management-consulting" class="text-sm">Profit Enhancement and Growth Strategies (80/20 management consulting)</label>
              </div>
            </div>
            
            <textarea id="message" name="message" rows="4" cols="50" class="border mt-6" placeholder="Write your message here"></textarea>

            <div class="flex items-center my-4">
              <input type="checkbox" id="privacy-policy" class="transform scale-125" required/>
              <div class="ml-4">
                <label for="privacy-policy">I have read and comply with Company <a href="#">Privacy Policy</a></label>
              </div>
            </div>
          </fieldset>

          <button type="submit" class="flex items-center custom-bg-color-gray rounded-full py-2 pl-2 pr-4 mb-8 uppercase font-semibold text-sm">
            <img src="/assets/global/arrow_black.svg" class="mr-8" alt="Submit Icon" />
            Submit
          </button>
        </form>
      </article>

    </section>
  
  </main>

{% endblock %}

{# -- Any JavaScript that should be included before </body> -- #}
{% block bodyJs %}
    {{ parent() }}
{% endblock bodyJs %}
