{% extends "_layouts/generic-page-layout.twig" %}

{% block content %}
    {# {% set homeQuery = craft.entries().section('home').all() %} #}
    <main name="about">
    </main>
{% endblock %}

{% block bodyJs %}
    {{ parent() }}

    {# -- Write any custom JavaScript that should be included before </body> below: -- #}

{% endblock bodyJs %}
